<launch>

  <!-- load database connection parameters -->
  <rosparam command="load" 
            file="$(find sushi_rll_executive)/config/objects_database.yaml"/>

  <!-- start the database wrapper node -->
  <node pkg="household_objects_database" name="objects_database_node" 
        type="objects_database_node" respawn="true" output="screen"/>

</launch>