<launch>

  <include file="$(find sushi_executive)/launch/common.launch">
    <arg name="stereo" value="true"/>
  </include>
  <include file="$(find sushi_gazebo)/launch/pr2_sushi_sim.launch" />
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find sushi_executive)/conf/sushi_all.vcg" />
  
</launch>
